@media (max-width: 479px){
    
    .fts-home__header--gradient {
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)) !important;
        background-size: 60%;
        background-repeat: repeat !important;
        margin: calc(var(--mdc-layout-grid-gutter-phone, 16px) * -1);
    }
    
    .fts-header__home .fts-header--content h1{
        font-size: 10vw;
        line-height: 10vw;
    }
    
    .fts-header__home .slick-arrow{visibility: hidden;}
    .slick-dots{display: block;}

}