@media (min-width: 479px){
    .fts-hide-desktop{display: none;}
}
    
@media (max-width: 479px){
    
    .fts-hide-mobile{display: none;}
    
    /* -- MDC -- */
    /* typography */
    .mdc-typography--headline2{font-size: 12vw;}
    .fts-home__empresa--imagens .mdc-image-list__item{width: calc(100% / 5 - 4.2px) !important;}
    .mdc-top-app-bar__row{height: 64px;}
    
    /* -- FTS -- */
    .fts-logo img {width: 25vw !important; height: auto;}
    
    /* MENU */
    .mdc-top-app-bar .mdc-button{font-size: 2.8vw;}
    .fts-menu__icon a img{height: 18px;}
    
    /* HOME | header */
    .fts-home__header-33{
        width: 100%; height: calc(33.3vh - 21px) !important;
        background-color: gray; background-size: cover; background-position: center; background-blend-mode: soft-light;
        padding: 0;
        transition: all .75s ease;
    }

    .fts-home__header-33:hover{
        background-color: rgba(0,0,0,0.2);
        transition: all 1s ease;
    }
    .fts-home__header-33 .fts-home__header--gradient-33{margin: 0;}
    .fts-home__header-33 .fts-header--content{padding-bottom: 0;}

    .fts-home__header--gradient-33{
        background-image: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0));
        background-size: 100% 20%;
        background-repeat: no-repeat;
        background-position: bottom;
        margin: calc(var(--mdc-layout-grid-gutter-desktop, 24px) * -1);
    }
    
    .fts-header__home .fts-header--content p{margin-top: .18rem;}    
    .fts-home__header--gradient {
        background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)) !important;
        background-size: 60%;
        background-repeat: repeat !important;
        margin: calc(var(--mdc-layout-grid-gutter-phone, 16px) * -1);
    }
    
    .fts-header__home .fts-header--content h1{
        font-size: 10vw;
        line-height: 10vw;
    }
    
    .fts-header__home .slick-arrow{visibility: hidden;}
    .slick-dots{display: block;}
    
    /* HOME | clientes */
    .fts-home__clientes--logo img{
        width: 25vw !important;
        padding: 0 var(--mdc-layout-grid-gutter-phone, 16px);
    }
    
    /* HOME | fornecedores */
    .fts-home__clientes .mdc-layout-grid__cell--span-4-phone,
    .fts-home__fornecedores .mdc-layout-grid__cell--span-4-phone{
        margin: var(--mdc-layout-grid-margin-phone, 16px);
    }
    
    /* FOOTER */
    .fts-footer img{width: 25vw !important;}
}